{% extends 'base.html.twig' %}

{% block body %}
    <div class="container d-flex flex-column align-items-center">
        <h1>Add a cat!</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn">{{ button_label|default('Add') }}
            </button>
        {{ form_end(form) }}

    </div>
{% endblock %}
